table {
    border-collapse: collapse;
}

td, th {
    padding: 5px 15px;
    border-bottom: 1px solid black;
    margin: 0;
}

th {
    background-color: #ccc;
}

th[data-order] {
    cursor: pointer;
}

th.active {
    color: #070;
}

tr:nth-child(n+1) {
    background-color: #EEE;
}

td:nth-child(5) {
    border-bottom-width: 0;
    background-color: white;
}