* {
    box-sizing: border-box;
}

html {
    background-size: cover;
    background: url(../img/pizza.png) fixed;
}

body {
    width: 600px;
    margin: 2rem auto;
    background: white;
    padding: 0 1rem;
    box-shadow: 2px 2px 9px 6px rgba(0,0,0,.5);
}

h1 {
    font-size: 1.7rem;
    padding: 1rem 0;
    margin: 0;
    text-align: center;
}

h2 {
    padding: 1rem 0 .5rem;
    margin: 0;
    font-size: 1.4rem;
}

ul {
    margin: 0 0 .5rem;
    padding: 0;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}

li .init-edit {
    display:none;
}

li:hover .init-edit {
    display: inline;
    cursor: pointer;
}

li .edit-eater{
    display:none;
}

li.editing .edit-eater {
    display:inline;
}

li.editing span, li.editing:hover .init-edit {
    display:none;
}

li:before {
    display:inline;
    content: '+ ';
}

table {
    border-collapse: collapse;
    width: 600px;
    margin: 0 -1rem;
}

tr {
    border-bottom: 1px solid black;
}

tr:last-child {
    border-bottom: 0;
}
td, th {
    padding: 5px 15px;
    margin: 0;
}

th {
    background-color: #ccc;
}

th[data-order] {
    cursor: pointer;
}

th.active {
    color: #070;
}

tr:nth-child(n+1) {
    background-color: #EEE;
}

td {
    text-align: right;
}

td:nth-child(1) {
    text-align: left;
}

.most-pizza,
.best-deal,
.low-price {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: .5rem;
    vertical-align: middle;
}

.most-pizza {
    background-image: url(../img/burst.png);
}

.best-deal {
    background-image: url(../img/star.png);
}